[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
stdout_callback = ansible.builtin.default
timeout = 120

[callback_default]
result_format = yaml

[ssh_connection]
pipelining = True
retries = 3
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=120 -o ConnectTimeout=20
