{
  "identities": [
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": {{ access_key | tojson }},
          "secretKey": {{ secret_key | tojson }}
        }
      ],
      "actions": ["Admin", "Read", "Write", "List", "Tagging"]
    }
  ]
}
