    <email_notification>yes</email_notification>
    <smtp_server>{{ wazuh_smtp_host }}</smtp_server>
    <email_from>{{ wazuh_mail_from }}</email_from>
    <email_to>{{ wazuh_alert_email }}</email_to>
    <email_maxperhour>50</email_maxperhour>
